body{
    
}

header{
    background-color: rgb(65, 155, 228);
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    padding: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

#logo{
    width: 200px;
    height: auto;
    padding-top:30px;
  
}


#scrittore{
    font-size: 15px;
    color: rgb(77, 77, 77);
}

#data{
    font-size: 12px;
    color: rgb(77, 77, 77);
}

#descrizioneimmagini{
    font-size: 12px;
}

#lorem{
    border-collapse: collapse;
  
}

#lorem th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(65, 155, 228);
    color: white;
  }

  #lorem tr:nth-child(1), #lorem tr:nth-child(3){
  background-color: rgb(158, 224, 255);
}


#lorem td, #lorem th {
    
    padding: 5px;
  }

footer{
    padding-top: 15px;
}

h3{
    color: rgb(77, 77, 77);
}

#monitor{
    background-image: url(img/monitor.jpg);
    color: #ffffff;
    width: 270px;
    height: 200px;
    padding-left: 10px;
    font-size: 150%;
}

#graph{
    background-image: url(img/graph.jpg);
    color: #ffffff;
    width: 270px;
    height: 200px;
    padding-left: 10px;
    font-size: 150%;
}